<mat-card [formGroup]=shotForm
          class="mat-elevation-z4"
          fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field>
    <input [formControlName]="'title'" matInput placeholder="Title">
  </mat-form-field>
  <img [src]="shot.imageUrl" mat-card-image/>
  <input #fileUpload
         (change)="onFileSelected($event)"
         [formControlName]="'imageUrl'"
         placeholder="Image"
         style="display: none"
         type="file"/>
  <button (click)="fileUpload.click()" mat-raised-button>Select file</button>
  <mat-form-field>
    <textarea [formControlName]="'description'"
              matInput
              matTextareaAutosize
              placeholder="Description"></textarea>
  </mat-form-field>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
    <button (click)="onSave()" color="accent" mat-raised-button>SAVE</button>
    <button (click)="onClose()" color="accent" mat-raised-button>CLOSE</button>
  </mat-card-actions>
</mat-card>
